head
  title #{siteName}
  link(rel="stylesheet", href=`${siteUrl}/styles.css`)
body
  header
  nav.navigation
    ul
      for uri, page in pages
        li
          a(href=`${uri}`) #{page}
  .content
    |!{pageData}
  footer
    |SiteCraft by #{author.name}: #{new Date().getFullYear()}
